
{% load staticfiles %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django ToDo</title>
    <meta name="description" content="Django ToDo">
    <meta name="author" content="Emma">

    
    <link href="{% static 'css/todo.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/todo.js' %}"></script>
    

  </head>

  <body>
    
    {% block content %}
    
      <h1 style="text-align: center; margin-top: 50px; color: #666666;">It worked Emma!</h1>
      <h2 style="color: #666666;">Congratulations on your first Django-powered page.</h2>
      <div style="text-align: center; margin-top:75px;">
        <img src="https://raw.githubusercontent.com/pyladies/pyladies-kit/master/pyladies/swag/PyCon%202014/R335555751_A_proof.png"><br/>
        <a href="http://djangopony.com/" class="ponybadge" title="Powered by Django"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="Powered by Django"></a>
      </div>
    
    {% endblock %}
    
  </body>
</html>


