{% extends 'base.html' %}

{% block content %}
  <section class="todoapp">
		<header class="header">
			<h1>ToDo's</h1>
			{% if active_menu == 'all' %}
			  <form method="POST"{% if form.errors %} class="error"{% endif %} id="new">
			    {% csrf_token %}
			    <input class="new-todo ajax" placeholder="What needs to be done?" autofocus name="description"{% if form.description.value %} value="{{form.description.value}}"{% endif %}>
			  </form>
			{% endif %}
		</header>
		<section class="main">
			<ul class="todo-list">
			  {% for todo in todo_list %}
  				<li {% if todo.done %}class="completed"{% endif %}>
  					<div class="view">
  						<input class="toggle ajax" type="checkbox" {%if todo.done %}checked {% endif %}data-target="{% url 'toggle' todo.pk %}">
  						<label>{{ todo.description }}</label>
  						<button class="destroy ajax" data-target="{% url 'delete' todo.pk %}"></button>
  					</div>
  					<form class="edit-form" method="POST" action="{% url 'update' todo.pk %}">
    			    {% csrf_token %}
  					  <input class="edit" name="description" value="{{ todo.description }}">
    			  </form>
  				</li>
  			{% endfor %}
  			<li class="empty-todo">
					<div class="view">
						<input class="toggle ajax" type="checkbox" data-target="{% url 'toggle' 0 %}">
						<label></label>
						<button class="destroy ajax" data-target="{% url 'delete' 0 %}"></button>
					</div>
					<form class="edit-form" method="POST" action="{% url 'update' 0 %}">
  			    {% csrf_token %}
					  <input class="edit" name="description" value="">
  			  </form>
				</li>
			</ul>
		</section>
		<footer class="footer">
			<span class="todo-count"><strong>{{ todos_left }}</strong> item(s) left</span>
			<ul class="filters">
				<li>
					<a href="{% url 'home' %}"{% if active_menu == 'all'%} class="selected"{% endif %}>All</a>
				</li>
				<li>
					<a href="{% url 'active' %}"{% if active_menu == 'active'%} class="selected"{% endif %}>Active</a>
				</li>
				<li>
					<a href="{% url 'done' %}"{% if active_menu == 'done'%} class="selected"{% endif %}>Completed</a>
				</li>
			</ul>
		</footer>
	</section>
{% endblock %}
